[Unit]
Description=Gunicorn instance to serve AirBnB Clone Application
# Start after the network is up
After=network.target

[Service]
# Run the service as the ubuntu user and group defined earlier
User=ubuntu
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
ExecStart=gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app --error-logfile /tmp/airbnb-error.log --access-logfile /tmp/airbnb-access.log
Restart=always
StandardOutput=append:/tmp/airbnb-access.log
StandardError=append:/tmp/airbnb-error.log
SyslogIdentifier=gunicorn

[Install]
# Enable the service for the multi-user target
WantedBy=multi-user.target
